body {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-around;
}
.recipe_card {
    border: 1px solid black;
    width: 100%;
    word-wrap: break-word;
    margin: 5px;
    padding: 5px;
}

.search_field {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: baseline;
    margin: 5px;
}